

.checkbtn {
	font-size: 30px;
	// color: $color_1;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
section {
	background: url(../imagenes/coffe.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	height: calc(100vh - 80px);
}