body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: red; 
  }
  
  
.fondoH , .fondoSobremi,.fondoR , .fondoC{
	height: 179vh;

	background-image: url(../imagenes/fondo\ beige.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	background-attachment: fixed;
}


.pantalla {
	height: 179vh;

	background-image: url(../imagenes/coffe.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	background-attachment: fixed;
	h1 {
		position: absolute;
		top: 63%;
		margin-left: 459px;
	}
}

.fondoR {
    h1 {
        color: black;
    }
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.fa-bars:before{
	color: white;
}

.subtitle{
	margin-left: 50px;
}